body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
body{font-size:12px;font-family: arial;}


/*comman*/
html,body,.wrap{
	width: 100%;
	height: 100%;
}
.wrap{
	background: url('../images/1-底图1.png') no-repeat;
	background-size: cover;
}
@media screen and (min-width: 633px;) {
	
}
/*头部*/
header{
	width: 90%;
	margin: 0 auto;

}
header span{
	color: white;
	font-weight: bold;
	font-size: 40px;
}
header div{
	
	padding-top: 100px;
}


/*中间部分*/
.content{
	width: 934px;
	height: 422px;
	margin: 0 auto;
}
/*.content img{
	width: 100%;
}*/
.content_left{
	float: left;
}
.content_right{
	float: right;
}
.content_left{
	width: 470px;
}
.content_right{
	width: 454px;
}

.content_left a:nth-child(odd){
	width: 277px;
	height: 140px;
	margin-right: 14px;
}
.content_left a:nth-child(even),.content_right a:nth-child(even){
	width: 163px;
	height: 140px;	
}
.content_right a:nth-child(odd){
	width: 277px;
	height: 140px;
	margin-left: -20px;
}
/*底部*/
.footer{
	text-align: center;
	padding-top: 100px;
}
.footer p{
	font-size: 16px;
}
